# API
API_BASE_URL=http://localhost:3000/api/v1

# Socket
SOCKET_URL=http://localhost:3000

# Auth Configuration
JWT_KEY_EXPIRY=7d 
# Note: Public keys not currently used, only Secret on backend.

# Feature Flags (If any)
ENABLE_WS_COMPRESSION=true

# PayOS (If acting as a test client)
PAYOS_RETURN_URL=http://localhost:3000/payments/callback
PAYOS_CANCEL_URL=http://localhost:3000/payments/cancel
